;detect_config

[detection]
name               = efficientdet-d0
logdir             = ./projects/Kajima/
label_map_pbtxt    = ./projects/Kajima/train/kajima_label_map.pbtxt
threads            = 0
delete_logdir      = True
batch_size         = 1
checkpoint_dir    = ./projects/Kajima/models
savedmodel_dir     = ./projects/Kajima/saved_model
hparams            = ./projects/Kajima/configs/default.yaml
output_dir         = ./projects/Kajima/outputs

[visualization]
line_thickness  = 2
max_boxes       = 100
threshold       = 0.4
nms_method      = gaussian

