;detect_config

[detection]
name               = efficientdet-d0
logdir             = ./projects/Japanese_RoadSigns/
label_map_pbtxt    = ./projects/Japanese_RoadSigns/train/Japanese_RoadSigns_label_map.pbtxt
threads            = 0
delete_logdir      = True
batch_size         = 1
checkpoint_dir    = ./projects/Japanese_RoadSigns/models
savedmodel_dir     = ./projects/Japanese_RoadSigns/saved_model
hparams            = ./projects/Japanese_RoadSigns/configs/default.yaml
output_dir         = ./projects/Japanese_RoadSigns/outputs

[visualization]
line_thickness  = 2
max_boxes       = 100
threshold       = 0.4
nms_method      = gaussian

